<!DOCTYPE html>
<html>
<head>
	<title>Open Redirect</title>
</head>
<body>
	<h1> What is an open redirect ? </h1>
	
	<p>An open redirect occurs if an application takes a parameter and redirects the user to that URL without any other validation.</p>

	<h1> What can happen? </h1>

	<p>In most cases, Open Redirect is very easy to exploit, which increases the likelihood of someone finding the vulnerability and abusing it. However, the potential impact of Open Redirect is not necessarily that dangerous. It is mostly used in phishing attacks or in a chain attacks where Open Redirect is only one of the multiple elements used.</p>


	<h1> Example of Open Redirect </h1>

	<p>The application has a page called “redirect.jsp” which takes a single parameter named “url”. The attacker crafts a malicious URL that redirects users to a malicious site that performs phishing and installs malware.</p>

						<p>http://www.example.com/redirect.jsp?url=evil.com </p>


	<h1>How Do I Prevent Unvalidated Redirects and Forwards? </h1>

	<p>Safe use of redirects and forwards can be done in a number of ways:

Simply avoid using redirects and forwards.
If used, don’t involve user parameters in calculating the destination. This can usually be done.
If destination parameters can’t be avoided, ensure that the supplied value is valid, and authorized for the user.
It is recommended that any such destination parameters be a mapping value, rather than the actual URL or portion of the URL, and that server side code translate this mapping to the target URL.
Applications can use ESAPI to override the sendRedirect() method to make sure all redirect destinations are safe.
Avoiding such flaws is extremely important as they are a favorite target of phishers trying to gain the user’s trust.</p> 

</body>
</html>