<!DOCTYPE html>
<html>
<head>
	<title>Csrf Documentation</title>
</head>
<body>
	<h1>What is CSRF? </h1>
	<b>Cross-Site Request Forgery, or CSRF attack, is when an attacker is able to make requests on behalf of a user. Typically the attacker takes advantage of the fact that the user is already authenticated.As the attacker cannot read the response, it is not of any use to force the victim to retrieve data. CSRF only targets state-changing requests such as changing credentials, transferring funds, modifying settings, etc.</b>
	<h1> Example CSRF Attacl </h1>
	

</body>
</html>