<!DOCTYPE html>
<html>
<head>
	<title>Glossary</title>
</head>
<body>
<h1>What is a vulnerability?</h1>
<p>In computer security, a vulnerability is a weakness which can be exploited by a threat actor, such as an attacker, to perform unauthorized actions within a computer system. To exploit a vulnerability, an attacker must have at least one applicable tool or technique that can connect to a system weakness. In this frame, vulnerabilities are also known as the attack surface.</p>
<h1>What is OWASP?</h1>
<p>The Open Web Application Security Project (OWASP) is an online community that tracks common vulnerabilities and publishes information about web application security.</p>
<p>
The <a href=https://www.owasp.org>OWASP</a> site is a treasure trove of information about web application security and vulnerability research. However, since information is kept in a somewhat-jumbled wiki format, it can take a while to find what you are looking for.</p>

<p>Each year OWASP publishes the list of the most common security vulnerabilities. If you read one thing on OWASP each year, it should probably be their top ten list.</p>
<h1>What is an injection?</h1>
<p><b>Code injection can used by an attacker to introduce malicious code into a vulnerable computer program and change the course of execution.</b></p>

<p>All software takes some sort of input – a secure program should treat all input from an external source as “untrusted” until proven otherwise. Code injection vulnerabilities exist when an attacker can submit executable input to a program and trick the software into running that input. This gives the attacker a channel by which they can circumvent any security restrictions put in place by the program’s author.</p>

<p>Some common types of code injection are:</p>

<p>SQL Injection. Unsafe treatment of HTTP parameters when constructing queries on a website can permit an attacker to run arbitrary SQL statements on a vulnerable application.</p>

<p>Cross site scripting. Unsafe treatment of HTTP parameters can allow injection of malicious JavaScript into a web application.</p>

<p>Command execution. Unsafe treatment of HTTP parameters can allow an attacker to run run arbitrary shell commands on the web server.</p>

</body>
</html>