<!DOCTYPE html>
<html>
<head>
	<title>Glossary</title>
</head>
<body>
<h1>What is a vulnerability?</h1>
<p>In computer security, a vulnerability is a weakness which can be exploited by a threat actor, such as an attacker, to perform unauthorized actions within a computer system. To exploit a vulnerability, an attacker must have at least one applicable tool or technique that can connect to a system weakness. In this frame, vulnerabilities are also known as the attack surface.</p>
<h1>What is OWASP?</h1>
<p>The Open Web Application Security Project (OWASP) is an online community that tracks common vulnerabilities and publishes information about web application security.</p>
<p>
The <a href=https://www.owasp.org>OWASP</a> site is a treasure trove of information about web application security and vulnerability research. However, since information is kept in a somewhat-jumbled wiki format, it can take a while to find what you are looking for.</p>

<p>Each year OWASP publishes the list of the most common security vulnerabilities. If you read one thing on OWASP each year, it should probably be their top ten list.</p>
<h1>What is an injection?</h1>
<p><b>Code injection can used by an attacker to introduce malicious code into a vulnerable computer program and change the course of execution.</b></p>

<p>All software takes some sort of input – a secure program should treat all input from an external source as “untrusted” until proven otherwise. Code injection vulnerabilities exist when an attacker can submit executable input to a program and trick the software into running that input. This gives the attacker a channel by which they can circumvent any security restrictions put in place by the program’s author.</p>

<p>Some common types of code injection are:</p>

<p>SQL Injection. Unsafe treatment of HTTP parameters when constructing queries on a website can permit an attacker to run arbitrary SQL statements on a vulnerable application.</p>

<p>Cross site scripting. Unsafe treatment of HTTP parameters can allow injection of malicious JavaScript into a web application.</p>

<p>Command execution. Unsafe treatment of HTTP parameters can allow an attacker to run run arbitrary shell commands on the web server.</p>
<h1>What is Source Code Disclosure?</h1>
<p>Source code intended to be kept server-side can sometimes end up being disclosed to users. Such code may contain sensitive information such as database passwords and secret keys, which may help malicious users formulate attacks against the application.</p>

<h1>What is Full Path Disclosure?</h1>
<p>Full Path Disclosure (FPD) vulnerabilities enable the attacker to see the path to the webroot/file. e.g.: /home/omg/htdocs/file/. Certain vulnerabilities, such as using the load_file() (within a SQL Injection) query to view the page source, require the attacker to have the full path to the file they wish to view.</p>
<h1>What is Server Side Template Injection?</h1>
<p>Template engines are widely used by web applications to present dynamic data via web pages and emails. Unsafely embedding user input in templates enables Server-Side Template Injection, a frequently critical vulnerability that is extremely easy to mistake for Cross-Site Scripting (XSS), or miss entirely. Unlike XSS, Template Injection can be used to directly attack web servers' internals and often obtain Remote Code Execution (RCE), turning every vulnerable application into a potential pivot point.</p>
<h1>What is Pickle Code Execution?</h1>
<p>Pickle is a serialization/deserialization module found within the standard Python library. For those unfamiliar with serialization and deserialization; it is a way of converting objects and data structures to files or databases so that they can be reconstructed later (possibly in a different environment). This process is called serialization and deserialization, but in Python, it is called pickling and unpickling. One big caveat to pickle however, is that it does not perform any “security checking” on the data that is being unpickled, meaning that an attacker having access to the endpoint can potentially gain remote code execution by serving malicious input. </p>
<h1>What is Cross Site Scripting(XSS)?</h1>
<p>Cross-Site Scripting (XSS) attacks are a type of injection, in which malicious scripts are injected into otherwise benign and trusted websites. XSS attacks occur when an attacker uses a web application to send malicious code, generally in the form of a browser side script, to a different end user.</p>
<p>XSS Types:</p>
<ol><li>Reflected XSS</li>
<li> Stored XSS</li>
<li>Blind XSS</li>
</ol>
<h1>What is XXE?</h1>
<p>XML is a data structure similar to JSON. It contain names of fields and their value. In addition to just storing strings, it can also contain links to other files or resources and this is where the problem arises. When the XML document is parsed, the XML parser will follow the link and read the linked document. Assuming the attacker can see the output of the parsed XML document, this gives them the ability to read local files on the server.Such an attack is called XXE – XML External Entities, as it abuses those external entities/links.</p>
</body>
</html>